.intro {
    margin-top: 152px;
    margin-bottom: 100px;
    &__top {
        display: flex;
        margin-bottom: 30px;
    }
    &__content {
        padding-top: 90px;
        width: 50%;
    }
    &__slider {
        min-width: 0;
        width: 50%;
    }
    &__content-inner {
        margin: 0 auto;
        text-align: center;
        max-width: 470px;
    }
    &__title {
        @extend %title;
        font-size: 3rem;
        line-height: 3.62rem;
        margin-bottom: 20px;
    }
    &__text {
        @extend %text;
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin-bottom: 63px;
    }
    // Bottom sub section
    &__bottom {
        display: flex;
    }

    &__cards {
        display: flex;
    }

    &__card {
        text-align: center;
        padding: 18px 10px 14px;
        margin: 20px 25px 0px;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
        border: 1px solid #332208;
        background-color: transparent;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
        transition: $transition;
        &:hover {
            transform: scale(1.25);
        }
    }
    &__card-link {
        height: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card-logo {
        height: 40%;
    }

    &__card-text {
        flex: 1;
        @extend %text;
        text-align: center;
    }

    &__links {
        transform: translateY(-10px);
        display: flex;
        flex: 0 1 50%;
        justify-content: center;
        align-items: flex-end;
    }

    &__link {
        & + & {
            margin-left: 20px;
        }
        display: inline-block;
        text-decoration: none;
        font-family: $primary-font;
        font-weight: normal;
        font-size: 1rem;
        line-height: 25px;
        text-align: center;
        color: $primary-text-color;
        border-bottom: 1px solid transparent;
        transition: $transition;
        &:hover {
            border-bottom: 1px solid $primary-text-color;
        }
    }

    @media (max-width: 1110px) {
        &__content {
            padding-top: 0;
        }
        &__content-inner {
            text-align: left;
            max-width: 430px;
        }
        &__text {
            margin-bottom: 10px;
        }
    }

    @media (max-width: 874px) {
        margin-bottom: 40px;
        &__title {
            font-size: 2.6rem;
            line-height: 3.62rem;
            margin-bottom: 10px;
        }
        &__text {
            font-size: 1.4rem;
            line-height: 1.75rem;

            margin-bottom: 30px;
        }
        margin-top: 120px;
        &__top {
            display: block;
        }

        &__content,
        &__slider {
            width: 100%;
        }
        &__content-inner {
            text-align: left;
            max-width: 80%;
        }

        &__bottom {
            display: block;
        }
        &__cards {
            margin-bottom: 40px;
            padding: 0 15px;
            justify-content: center;
        }
    }
    @media (max-width: 647px) {
        &__cards {
            flex-wrap: wrap;
        }
    }
}
